.education {
  display: flex;
  flex-direction: column;
  position: absolute; /* Absolute positioning */
  top: 50%; /* Position 50% from the top */
  left: 50%; /* Position 50% from the left */
  transform: translate(-50%, -50%); /* Adjust position to center */
  width: 100%;
}

.asu-logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: auto;
  height: auto;
}

.asu-logo img {
  max-width: 30%; /* Make the image responsive */
  height: auto;
}

.education-text {
  padding-left: 18px;
  font-size: 100%;
}

.grad-video-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: auto;
  height: auto;
  padding-top: 20px;
}

.grad-video {
  max-width: 90%;
  height: auto;
}

@media (min-width: 768px) {
  .grad-video {
    width: 750px; /* Or any suitable size for larger screens */
    height: auto;
  }
}

@media (max-width: 767px) {
  .grad-video {
    width: 90%; /* Full width on smaller screens */
    height: auto;
  }
}
