.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(
    100vh - 60px
  ); /* Full viewport height minus the nav bar height */
  padding-top: 60px;
}

.carousel-container {
  position: relative;
  width: 100%;
}

.card {
  background-color: whitesmoke;
  padding: 20px;
  padding-top: 80px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: auto;
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-button.left {
  left: 0; /* Position to the left edge of the container */
  margin-left: 5%;
}

.arrow-button.right {
  right: 0; /* Position to the right edge of the container */
  margin-right: 5%;
}
