.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  padding-top: 60px;
}

.collapsible-container {
  width: 70%;
}

/* CollapsibleList.css */
.collapsible-header {
  cursor: pointer;
  background-color: #708090;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin: 10px 0;
  transition: background-color 0.3s ease;
}

.collapsible-header:hover {
  background-color: #6882a3;
}

.collapsible-content {
  /* padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto; */
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.description ul {
  padding-left: 10px;
}

.description ul li {
  margin-top: 5px;
}

.technologies ul {
  padding-left: 0;
}

.technologies ul li {
  list-style: none;
  background-color: #dcdcdc; /* Slightly darker background for list items */
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 4px;
}

.collapsible-content ul li:last-child {
  border-bottom: none;
}
